<a class="mdc-list-item" href="#home">
    <span class="mdi mdi-home mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Strona główna</span>
</a>
<a class="mdc-list-item" href="#plan-lekcji">
    <span class="mdi mdi-timetable mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Plan lekcji</span>
</a>
<a class="mdc-list-item" href="#terminarz">
    <span class="mdi mdi-calendar mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Terminarz</span>
</a>
<a class="mdc-list-item" href="#oceny">
    <span class="mdi mdi-numeric-5-box mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Oceny</span>
</a>
<a class="mdc-list-item" href="#">
    <span class="mdi mdi-email mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Wiadomości</span>
</a>
<a class="mdc-list-item" href="#">
    <span class="mdi mdi-file-document-edit mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Zadania domowe</span>
</a>
<a class="mdc-list-item" href="#">
    <span class="mdi mdi-message-alert mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Zachowanie</span>
</a>
<a class="mdc-list-item" href="#">
    <span class="mdi mdi-calendar-remove mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Frekwencja</span>
</a>
<a class="mdc-list-item" href="#">
    <span class="mdi mdi-bulletin-board mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Tablica ogłoszeń</span>
</a>
<hr class="mdc-list-divider">
<a class="mdc-list-item" href="#">
    <span class="mdi mdi-bell-ring mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Powiadomienia</span>
</a>
<a class="mdc-list-item" href="#ustawienia">
    <span class="mdi mdi-settings mdc-list-item__graphic" aria-hidden="true"></span>
    <span class="mdc-list-item__text">Ustawienia</span>
</a>