<div class="mdc-card mdc-card--outlined">
    <div class="mdc-card-wrapper__text-section">
        <div class="demo-card__supporting-text" style="text-align: center;margin:10px 0px">
            <div class="settings-item mdc-ripple-surface">
                <div class="settings-item__icon"><span class="mdi mdi-information mdc-list-item__graphic"></span></div>
                <div class="settings-item__text">
                    <p>Wersja</p>
                    <p>{{versionName}}</p>
                </div>
            </div>
            <div class="settings-item mdc-ripple-surface clickable" onclick="location.href='https://szkolny.eu/privacy-policy/'">
                <div class="settings-item__icon"><span class="mdi mdi-shield-half-full mdc-list-item__graphic"></span></div>
                <div class="settings-item__text one">
                    <p>Polityka prywatności</p>
                </div>
            </div>
            <div class="settings-item mdc-ripple-surface clickable">
                <div class="settings-item__icon"><span class="mdi mdi-discord mdc-list-item__graphic"></span></div>
                <div class="settings-item__text">
                    <p>Serwer Discord</p>
                    <p>Dołącz do naszego serwera Discord!</p>
                </div>
            </div>
            <div class="settings-item mdc-ripple-surface clickable">
                <div class="settings-item__icon"><span class="mdi mdi-radar mdc-list-item__graphic"></span></div>
                <div class="settings-item__text one">
                    <p>Dziennik zmian</p>
                </div>
            </div>
        </div>
    </div>
</div>